<!DOCTYPE html>

<!-- /templates/login.html-->

<html>
    <head>
        <title>DCD Login</title>
    </head>
    <body>
      <style>
        .login-body{
            padding: 50px;
          }
          
          .form-area{
              padding: 10px;
              max-width: 50%;
              background-color: lightblue;
          }
      </style>
    <div class="login-body">
      <h3>Welcome to the Dating Compatibility Database!</h3>
      <div>
        Our program focuses on finding matches using Myers-Briggs Personality Types
        and Astrological Signs. <br>
      </div>
      <br>
      <hr>
      <br>
      <div class="form-area">
        <form action="/form-handler" method="POST">
          
          <div>
            Please Log In: 
          </div>
          <br>
          <div> Username: 
            <input type="text" name="username">
          </div>
          <br>
          <div> Password: 
          <input type="text" name="password"> 
          </div>
          <br>
          <input type="submit" value="submit">
         </form>
      </div>
     
    </div> 
    
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
