<!-- /templates/login.html-->

<html>
    <head>
        <title>Flask Sample Input Form</title>
    </head>
    <body>
      <style>
        .login-body{
              padding-top: 100px;
              padding-bottom: 50px;
          }
          
          .form-area{
              padding-top: 10px;
              padding-bottom: 20px;
              max-width: 33%;
              margin: 0 auto;
          }
    
          #services{
              
          }
      </style>
    <div class="login-body">
      <h3>Welcome to the Dating Compatibility Database!</h3>
      
      <div class="form-area">
        <form action="/form-handler" method="POST">
          <div>
        Our program focuses on finding matches using Myers-Briggs Personality Types
        and Astrological Signs. <br>
          </div>
          <div>
        Please Log In: <br>
          </div>
          <div> Username: 
          </div>
          <input type="text" name="username">
          <div> Password: 
          </div>
          <input type="text" name="password"> <br> <br>
          </div>
          <input type="submit" value="submit">
         </form>
      </div>
     
    </div> 
    
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
