<!-- /templates/user-matches.html-->

<html>
    <head>
        <title> Potential Matches </title>
    </head>

    <!-- Adding some style to table (OPTIONAL) -->
    <style type="text/css">

    th:tr{
        color: blue;
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
    }

    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
    .match-body{
        padding:10px;
    }
    </style>

    <body>
        <div class="match-body">
            <form action="/form-handler3" method="POST">
                <h3> {{username}}'s Potential Matches </h3>
                
                <div>
                Username: {{pm_name}}
                </div>
                <div>
                Age: {{age}}
                </div>
                <div>
                Rating: {{rating}}
                </div>
                <div>
                Astrological Sign: {{astro_sign}}
                </div>
                <div>
                Personality Type: {{pers_type}}
                </div>
                <div>
                Description: {{description}}
                </div>
                <label for="vote">Choose Yes or No for this potential match:</label>
                <select name="vote" id="vote">
                <option value="True">Yes</option>
                <option value="False">No</option>
                <option value="Skip">Skip</option>
                </select>
                <br><br>
                <input type="hidden" name="PM" value={{PMID}} />
                <button type="submit" name="username", value={{username}}>
                <h3> Next User </h3>
                </button>	
                </form>
        </div>
    
    </body>

</html>
