<!-- /templates/user-matches.html-->

<html>
    <head>
        <title> Potential Matches </title>
    </head>

    <!-- Adding some style to table (OPTIONAL) -->
    <style type="text/css">

    th:tr{
        color: blue;
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
    }

    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
    </style>

    <body>
    <form action="/form-handler2" method="POST">
    
    <h3> Your Profile </h3>
    
    <div>
    Username: {{username}}
    </div>
    <div>
    Age: {{age}}
    </div>
    <div>
    Astrological Sign: {{astro_sign}}
    </div>
    <div>
    Personality Type: {{pers_type}}
    </div>
    <div>
    Description: {{description}}
    </div>
    
    <button type="submit" name="See Potential Matches">
    <h3> Click here to see Potential Matches </h3>
    </button>
    
    <h3> Matches </h3>
	
    <table>
    	{%for row in matches%}
    		<tr>
    		{%for col in row%}
    			<td>{{col}}</td>
    		{%endfor%}
    		</tr>
    	{%endfor%}
    </table>
    </form>
	
    </body>

</html>
